<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form name="profileForm">
        <div class="form-group">

            <div>
                <span>User:</span>
                <label>{{vacationDays.User.DisplayName}}</label>
                </div>
            <br />
            <div>
                <span>Total days:</span>
                <label>{{vacationDays.TotalDays}}</label>
            </div>
            <br />
            <div>
                <span>Used days:</span>
                <label>{{vacationDays.UsedDays}}</label>
            </div>
            <br />
           
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">OK</button>
    <button type="button" class="btn " (click)="cancel()">Cancel</button>
</div>